@model List<CopaFilmes.Application.ViewModel.FilmeViewModel>

@{
    ViewBag.Title = "Campeonato de filmes";
}

<br />
<div class="panel panel-default jumbotron text-center" style="background-color:grey">
    <p><label style="color:lightgrey; font-size:small">CAMPEONATO DE FILMES</label></p>
    <p><label style="color:white; font-size:xx-large">Fase de Seleção</label></p>
    <p><hr style="width:5%; color:lightgrey" /></p>
    <p>
        <label style="color:white; font-size:small">
            Selecione 8 filmes que você deseja que entrem ma competição e depois pressione o
            botão Gerar Meu Campeonato para prosseguir.
        </label>
    </p>
</div>

<br />
@using (Html.BeginForm("Index", "Filme", FormMethod.Post))
{
    <div>
        <label>Selecionados <label id="totalChecados">0</label> de 8 filmes</label>
        <input type="submit" disabled="disabled" id="btnGerarCampeonato" class="btn pull-right" style="background-color:dimgray; color:white; font-size:x-small" value=" GERAR MEU CAMPEONATO " />
    </div>
    <br />

    <div class="container">
        @for (int i = 0; i < Model.Count(); i++)
        {
            <div class="checkbox col-lg-3 col-md-3 col-sm-3">
                <input type="checkbox" id="@Model[i].Id" />
                <label>@Model[i].PrimaryTitle</label><br />
                <label class="text-muted">@Model[i].Year</label>
            </div>

            @Html.HiddenFor(m => m[i].Id)
            @Html.HiddenFor(m => m[i].PrimaryTitle)
            @Html.HiddenFor(m => m[i].AverageRating)
            @Html.HiddenFor(m => m[i].Year)
            @Html.HiddenFor(m => m[i].Selecionado, new { @id = Model[i].Id })
        }
    </div>
}

@section Scripts {
    @Scripts.Render("~/bundles/scriptsFilme")
}